$neutral-black: #23272F;
$neutral-black-1000: #0E0F11;
$neutral-black-900: #1E2024;
$neutral-black-700: #222728;
$neutral-700: #3F444D;
$neutral-300: #E6E7EA;
$primary-black: #1D2433;
$total-black: #000000;
$secondary-black: rgba(29, 36, 51, 0.8);
$disabled-black: rgba(29, 36, 51, 0.65);
$pending-background:#2D7780;
$neutral-grey: #71757F;
$secondary-grey: #D3D5D9;
$hint-grey: #1D2433CC;

$red-danger: #C62222;
$green-success: #288608;

$primary-background: #FFFFFF;
$secondary-background: #EEEFF2;

$btn-primary: #3388E0;
$btn-primary-disabled: #3388E07F;
$btn-primary-text: #FFFFFF;
$btn-primary-disabled: #3388E07F;
$btn-secondary: linear-gradient(180deg, #FFFFFF 48.44%, #F5F4F4 100%);
;
$btn-secondary-text: #1D2433;


$btn-primary-outline: #FFFFFF;
$btn-primary-outline-text: #1D2433;
$btn-primary-outline-selected: #EEF6FC;
$btn-primary-outline-text-selected: #3388E0;


$neutral-black: #23272F;
$primary-black: #1D2433;
$secondary-black: rgba(29, 36, 51, 0.8);
$disabled-black: rgba(29, 36, 51, 0.65);
$neutral-grey: #71757F;

$secondary-grey: #D3D5D9;

$secondary-background: #EEEFF2;

$btn-primary: #3388E0;
$btn-primary-hover: #3270b3;
$web-blue: #1873B4;
$btn-primary-text: #FFFFFF;
$primary-background: #FFFFFF;

$main-input-height: 56px;

$main-input-border: 1px solid #E6E7EA;

$small-mobile-view-max-width: 599px;
$mobile-view-max-width: 959px;
$web-view-min-width: 960px;

$export-dialog-header-background: #0E0F11;

$export-dialog-seperator: #ecedef;

$creamy-body: #F6F7F9;
$blue-black: #29293B;
$mat-toggle-backgrounf-color: #eef6fc;
$mat-toggle-border-color: #87c1fd;
$mat-toggle-color: #3d8fe2;
$box-shadow: 0px 1px 1px rgba(220, 220, 220, 0.7);




//from statements mf
$neutral-black: #23272F;
$primary-black: #1D2433;
$secondary-black: rgba(29, 36, 51, 0.8);
$disabled-black: rgba(29, 36, 51, 0.65);
$neutral-grey: #71757F;
$more-icon: rgba(29, 36, 51, 0.65);
$less-icon: rgba(29, 36, 51, 0.65);
$bright-green: #288608;

$secondary-grey: #D3D5D9;
$secondary-background: #EEEFF2;
$grey-black: #1E2024;
$btn-primary: #3388E0;
$btn-primary-text: #FFFFFF;
$primary-background: #FFFFFF;
$disabled: rgb(135 142 159 / 65%);
$body-white-box: #E6E7EA;
$warning-div: #FEF1F1;
$gradient-white: #F5F4F4;
$main-input-height: 56px;
$blue-body: #3388E0;
$red-body: #C62222;
$blue-body-x: #3270b3;
$small-mobile-view-max-width: 599px;
$mobile-view-max-width: 959px;
$web-view-min-width: 960px;
$dark-web: rgb(168, 44, 44);
$export-dialog-header-background: #0E0F11;
$export-dialog-seperator: #ecedef;
$light-grey: #ccc;
$mat-grey: #A2A6AE;
$warning-message:#FEF1F1;

$mat-spinner-circle: #87c1fd;